body{
    margin: 0;
    padding: 20px;
}

.box{
    width: 100px;
    height: 100px;
    background: tomato;
    border-radius: 10px;
    margin: 30px;
    animation: movemove 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes movemove{
    0%{
        transform: translate(0,0);
        background: dodgerblue;
    }
    25%{
        transform: translate(100px,0);
        background: thistle;
    }
    50%{
        transform: translate(100px,100px);
        background: violet;
    }
    75%{
        transform: translate(0,100px);
        background: turquoise;
    }
    100%{
        transform: translate(0,0);
        background: tomato;
    }
}

.boxbar{
    width: 150px;
    height: 100px;
    background: tomato;
    border-radius: 10px;
    animation: size-up 3s linear alternate infinite ;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxbar:hover{
    animation-play-state: paused;
    background: dodgerblue;
}

.boxbar::before{
    content: "running";
    font-size: 20px;
    color: white;
    font-weight: 700px;
}

.boxbar:hover::before{
    content: "paused";
    
}

@keyframes size-up{
    0%{
        width: 150px;
    }
    100%{
        width: 100%;
    }
}