.body__containerody{
    font-family: 'Roboto' , sans-serif;
    font-size: 16px;
    /* 노말 */
    font-weight: 400;
    /* 존나 어두운 회색 */
    color: #333; 

}
/* BUTTON */
.btn{
    height: 34px;
    background: #eee linear-gradient(to bottom, #fcfcfc, #eee);
    border: 1px solid #d5d5d5;
    border-radius: 4px;

    display: inline-flex;
    align-items: center;
    padding: 0 12px;
    font-size: 14px;
    font-weight: 500;
    /* 행간격 */
    line-height: 1.5;
    cursor: pointer;
    box-sizing: border-box;
    position: relative;

}

.btn:hover::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.07);
}

/* 
 __ :   ~의 일부분
 -  : 일반적인 작명 
 -- :  ~의 상태 
 */
.btn.btn--primary{
  border: 1px solid #65b836;
  color: #fff;
  background: #55a532 linear-gradient(#91dd70, #55ae2e);
}

/* INPUT TEXT */
.input--text{
    height: 34px;
    padding: 0 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    outline: none;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.075);
    font-size: 16px;

}

.input--text:focus{
    border-color: #51a7e8;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.075), 
                    0 0 5px rgba(81, 167, 232, 0.5);
}

.input--text::-webkit-input-placeholder{color: #cacaca;}
.input--text::-ms-input-placeholder{color: #cacaca;}
.input--text::-moz-input-placeholder{color: #cacaca;}


/* Header */

header{
    border-bottom: 1px solid rgba(0, 0, 0, .75);
    box-shadow: 0 0 5px rgba(0, 0, 0, .75);
    background: #fff; 
    /* 사실 #ffffff 임 축약된거 */
    
}

header .inner{
    max-width: 980px;
    height: 78px;
    margin: 0 auto;
    /* 중앙정렬 >> 가로 사이즈가 정의 되어야 가능함 */
}

header .menu-group{
    display: flex;
    align-items: center;
    height: 100%;
    /* inner의 높이를 다 쓴다 */
}

header .logo{
    margin-right: 10px;
}

header .logo a{
    width: 32px;
    height: 32px;
    display: block;
    text-indent: -9999px;
    background: url(../img/logo.svg);
}

header .logo a:hover{
    background: url(../img/logo_on.svg);
}

header .main-menu{
    display: flex;
}

header .main-menu li a{
    display: block;
    padding: 10px;
    color: #3c4146;
}